<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

        <div class="card">
            <div class="card-body">
                <p *ngIf="!idCurso" class="lead">Seleccione un ramo para ver alumnos registrados</p>

                <div *ngIf="idCurso">
                    <h5 class="card-title">{{curso.nombreCurso | uppercase}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Profesor: {{curso.nombreProfesor | uppercase}}</h6>

                    <br>
                    <h4 class="card-title">LISTADO DE ALUMNOS</h4>

                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col" width="70%">Nombre Alumno</th>
                            <th scope="col" width="20%">Promedio</th>
                            <th scope="col" width="10%">Acción</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let alumno of alumnos;">
                          <tr>
                            <td>{{ alumno.nombre | uppercase}} {{alumno.apellido | uppercase}}</td>
                            <td>{{ alumno.promedio}}</td>
                            <td><button type="button" (click)="cargarNotas(alumno)" class="btn btn-outline-primary">Ver notas</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

        </div>


    </div>

</div>